<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Suvi Lawn Care</title>

<!-- SET: FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
<!-- END: FAVICON -->

<!-- SET: STYLESHEET -->
{% load static from staticfiles %}
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
<!-- END: STYLESHEET -->


<!-- SET: SCRIPTS -->
<script type="text/javascript"></script>
<!-- END: SCRIPTS -->

<meta name="description" content="Your description"/>
<meta name="keywords" content="keyword1 keyword2"/>

<!--[if lt IE 8]>
<style type="text/css">
	.header-container	{ padding-bottom:0;}
	.welcome	{ padding-top:12px;}
    .container	{ padding-bottom:0;}
    .footer-in	{ padding-bottom:0;}
</style>
<![endif]-->
</head>

<body>

<!-- wrapper starts -->
<div class="wrapper"> 
  
  <!-- Header Starts -->
  <div class="header">
    <div class="header-container">
      <div class="logo"> <a href="#">Suvi Lawn Care</a> </div>
      <div class="toll-free">
        <p>Call us: 210 803 9655</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Header ends --> 
  
  <!-- Nav start -->
  <div class="nav">
    <div class="nav-in">
      <ul>
        <li class="last"><a href="#">Home </a></li>
        <li><a href="#">Services </a></li>
        <li><a href="#">About us </a></li>
        <li class="no_bg ped"><a href="#">Contact us</a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>

  <!-- Nav end --> 
  
  <!-- maincontent Starts -->
  <div class="container">
  {% load static from staticfiles %}
    <div class="container-in"> <img src="{% static "images/healthy_lawn_pic.jpg" %}" width="940" height="327" alt="img" />
      <div class="clear"></div>
    </div>
  </div>

  <div  class="main_content">
   <div class="main_content_block">
   {% block content %}

   {% endblock %}
  </div>
 </div>


  <!-- aincontent ends --> 
  
  <!-- footer starts -->
  <div class="footer">
    <div class="footer-in">
      <div class="social-icons">
        <ul>
          <li><a href="#"><img src="{% static "images/face-book.png" %}" width="16" height="16" alt="img" /></a></li>
          <li><a href="#"><img src="{% static "images/twitter.png" %}" width="16" height="16" alt="img" /></a></li>
          <li class="last"><a href="#"><img src="{% static "images/google.png" %}" width="16" height="16" alt="img" /></a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="copy">
        <p>Copyright © 2014 Suvi Lawn Care. All rights reserved.</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- footer ends --> 
  
</div>
<!-- wrapper ends -->

</body>
</html>
